<nav>
  <ul>
      <li>
          <a routerLink="home">
            <i>Home</i>
          </a>
        </li>
    <li>
      <a routerLink="profile">
        <i>Profile</i>
      </a>
    </li>
      <li>
        <a routerLink="docs">
          <i >Docs</i>
        </a>
      </li>
      <li>
          <a routerLink="notes">
            <i>Notes</i>
          </a>
        </li>
        <li>
            <a routerLink="q-paper">
              <i >Qpapers</i>
            </a>
          </li>
          <li>
            <a routerLink="classes">
              <i >Classes</i>
            </a>
          </li>
          <li>
              <a routerLink="groups">
                <i>Groups</i>
              </a>
            </li>
            <li>
                <a routerLink="hangout">
                  <i>Hangout</i>
                </a>
              </li>
           
  </ul>
</nav>
