<div class="container">
    <div class = "row">
      <div class= "col-md-2">
        <button style="font-size: 12px">Add New</button><br>
      </div>
      <div class= "col-md-3">
          <div class= "customDiv">
            <button style = "width:40px; font-size: 12px"><</button>
            <select name="notes_selection" style="width: 80px">
              <option value="last week">last week</option>
              <option value="last month">last month</option>
              <option value="last year">last year</option>
            </select>
            <button style = "width:40px; font-size: 12px">></button></div>
      </div>
     <div class= "col-md-3">
          <div class= "customDiv">
            <input type = "text" placeholder="Search.." name = "search">
            <button type="submit"><i class="fa fa-search"></i></button>
            <button type="submit"><i class="fa fa-plus"></i></button>

          </div>
      </div>
      <div class= "col-md-1">
          <button type="submit" style="font-size: 12px">Public</button>
      </div>
     
    </div>
  </div>