<div id="content-wrapper">
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    Groups&nbsp;&nbsp; <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" id="all_my_btn" data-toggle="tooltip"
                            data-placement="top" title="all / my groups">All</button>
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                            title="create new group">Create</button>
                    </div>

                    <input type="text" style="font-size: 14px" placeholder=" Search...">
                    <button class="btn btn-sm btn-primary" type="button" style="font-size: x-small">
                        <i class="fa fa-search"></i></button>

                </li>

            </ol>
            <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>
            <!-- Icon Cards-->
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <!-- style="width: 18rem -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Physics</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="#">View details...</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Chemistry</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <!-- <a href="#" class="btn btn-primary">View details</a> -->
                            <a href="#">View details...</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Maths</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="#">View details... </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <!-- style="width: 18rem -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Zoology</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="#">View details...</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Botany</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <!-- <a href="#" class="btn btn-primary">View details</a> -->
                            <a href="#">View details...</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">English</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="#">View details... </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
