<p style="font-family:cursive ;font-style: italic">Notes &nbsp;<button class="btn_priv_group" id="priv_group"><i class="fa fa-users "></i></button></p>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>
<body>
  <div class="container">
    <div class = "row">
       
      <div class= "col-md-2">
        <button style="font-size: 12px">Add New</button><br>
      </div>
      <div class= "col-md-3">
          <div class= "customDiv">
            <button style = "width:40px; font-size: 12px"><</button>
            <select name="notes_selection" style="width: 80px">
              <option value="last week">last week</option>
              <option value="last month">last month</option>
              <option value="last year">last year</option>
            </select>
            <button style = "width:40px; font-size: 12px">></button></div>
      </div>
     <div class= "col-md-3">
          <div class= "customDiv">
            <input type = "text" placeholder="Search.." name = "search">
            <button type="submit"><i class="fa fa-search"></i></button>
            <button type="submit"><i class="fa fa-plus"></i></button>

          </div>
      </div>
     
     
    </div>
    <div class = "row">  
        <div class= "col-md-8">
           <ul>
             <li *ngFor = "let Note of Notes">
               {{Note.name}} <br>
               category: {{Note.category}} <br>
               <p>content: {{Note.content|limitTo:100}}</p>
             </li>
           </ul>
         
    </div>
  </div>
    
  </div>
  
</body>
