.customDiv{
    margin: 3px;
    min-height: 300px;
    text-align: left;
    font-size: small;
}
.btn_priv_group{
background-color:rgb(35, 180, 173); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  //padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer;
  border-radius: 50%;
}
