<div id="content-wrapper">
  <div class="container-fluid">
    <form>
      <div class="form-group row">
        <label for="noteName" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control form-control-sm" id="noteName" placeholder="name">
        </div>
      </div>
      <div class="form-group row">
        <label for="noteCategory" class="col-sm-2 col-form-label col-form-label-sm">Category</label>
        <div class="col-sm-4">
          <select class="form-control form-control-sm" id="noteCategory_select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>other</option>
          </select>
        </div>
      </div>
      <div class="form-group row" id="new_category_form" style="display:none">
        <label for="noteCategory" class="col-sm-2 col-form-label col-form-label-sm">New Category</label>
        <div class="col-sm-4">
          <input type="text" class="form-control form-control-sm" id="new_category_text" placeholder=" new category">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body message">
              <div class="col-sm-11 col-sm-offset-1">

                <div class="btn-toolbar" role="toolbar">

                  <div class="btn-group">
                    <button class="btn btn-default"><span class="fa fa-bold"></span></button>
                    <button class="btn btn-default"><span class="fa fa-italic"></span></button>
                    <button class="btn btn-default"><span class="fa fa-underline"></span></button>
                  </div>

                  <div class="btn-group">
                    <button class="btn btn-default"><span class="fa fa-align-left"></span></button>
                    <button class="btn btn-default"><span class="fa fa-align-right"></span></button>
                    <button class="btn btn-default"><span class="fa fa-align-center"></span></button>
                    <button class="btn btn-default"><span class="fa fa-align-justify"></span></button>
                  </div>

                  <div class="btn-group">
                    <button class="btn btn-default"><span class="fa fa-indent"></span></button>
                    <button class="btn btn-default"><span class="fa fa-outdent"></span></button>
                  </div>

                  <div class="btn-group">
                    <button class="btn btn-default"><span class="fa fa-list-ul"></span></button>
                    <button class="btn btn-default"><span class="fa fa-list-ol"></span></button>
                  </div>
                  <button class="btn btn-default"><span class="fa fa-trash-o"></span></button>
                  <button class="btn btn-default"><span class="fa fa-paperclip"></span></button>
                  <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="fa fa-tags"></span>
                      <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">add label <span class="label label-danger"> Home</span></a></li>
                      <li><a href="#">add label <span class="label label-info">Job</span></a></li>
                      <li><a href="#">add label <span class="label label-success">Clients</span></a></li>
                      <li><a href="#">add label <span class="label label-warning">News</span></a></li>
                    </ul>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <textarea class="form-control" id="message" name="body" rows="12" placeholder="Click here to reply"></textarea>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <div class="form-group row">
        <label for="noteFile" class="col-sm-2 col-form-label col-form-label-sm">Upload</label>
        <div class="col-sm-3" id="upload_file_column">
          <input type="file" class="form-control-file form-control-sm" id="noteFile">
        </div>
        <div class="col-sm-1">
          <button type="button" id="note_upload_file_btn" class="btn btn-primary btn-sm"><i class="fa fa-plus" style="font-size: x-small;"></i></button>
          <button type="button" id="note_remove_file_btn" class="btn btn-primary btn-sm"><i class="fa fa-minus" style="font-size: x-small;"></i></button>
        </div>
        <!-- <div class="col-sm-1">
                <button type="button" id="note_remove_file_btn" class="btn btn-primary btn-sm"><i class="fas fa-minus"
                    style="font-size: x-small;"></i></button>-->
      </div>

      <div class="form-group row">
        <label for="privacy" class="col-sm-2 col-form-label col-form-label-sm">Privacy</label>
        <div class="col-sm-4">
          <select class="form-control form-control-sm" id="privacy_select">
            <option>Private</option>
            <option>Assign to group/s</option>
            <option>Public</option>
          </select>
        </div>
      </div>
      <div class="form-group row" id="select_groups_form" style="display: none">
        <label for="groups" class="col-sm-2 col-form-label col-form-label-sm">groups</label>
        <div class="col-sm-4">
          <select multiple class="form-control form-control-sm" id="groups_select">
            <option>group1</option>
            <option>group2</option>
            <option>group3</option>
            <option>group4</option>
            <option>group4</option>
            <option>group5</option>
            <option>group6</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="noteTags" class="col-sm-2 col-form-label col-form-label-sm">Tags</label>
        <div class="col-sm-4">
          <input type="text" class="form-control form-control-sm" id="noteTags" placeholder="tags">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-9">
          <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="submit" class="btn btn-default">Draft</button>
            <button type="submit" class="btn btn-danger">Discard</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>