<nav>
  <ul>
      <li>
          <a routerLink="">
            <i>Home</i>
          </a>
        </li>
    <li>
      <a routerLink="">
        <i>Profile</i>
      </a>
    </li>
      <li>
        <a routerLink="posts">
          <i >Docs</i>
        </a>
      </li>
      <li>
          <a routerLink="posts">
            <i>Notes</i>
          </a>
        </li>
        <li>
            <a routerLink="posts">
              <i >Qpapers</i>
            </a>
          </li>
          <li>
              <a routerLink="posts">
                <i>Groups</i>
              </a>
            </li>
            <li>
                <a routerLink="posts">
                  <i>Forum</i>
                </a>
              </li>
           
  </ul>
</nav>
