<nav>
  <ul>
      <li>
          <a routerLink="">
            <i>home</i>
          </a>
        </li>
    <li>
      <a routerLink="">
        <i>profile</i>
      </a>
    </li>
      <li>
        <a routerLink="posts">
          <i >docs</i>
        </a>
      </li>
      <li>
          <a routerLink="posts">
            <i>notes</i>
          </a>
        </li>
        <li>
            <a routerLink="posts">
              <i >q-papers</i>
            </a>
          </li>
          <li>
              <a routerLink="posts">
                <i>groups</i>
              </a>
            </li>
            <li>
                <a routerLink="posts">
                  <i>forum</i>
                </a>
              </li>
           
  </ul>
</nav>
